body{
      background-color: #A9A9A9;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      background-image: url(../img/img/imgfundo.jpg);
      background-size: 100%;
      background-repeat: repeat;
}

header{
      background-color: #0f132e;
      padding:3%;
}

.logo{
      background-color:#536d88;
}

nav{
      background-color: aqua;
}

main{
      background-color: #19274e;
      width: 80%;
      margin-left: auto ;
      margin-right: auto;
}

section{
      background-color: #b9c3c4;
}

footer{
      background-color: #8A2BE2;
      padding: 3%;
}

.cabecalho{
      padding: 3%;
}

.rodape{
      padding: 3%;
}

.titulos{
      line-height:3;
      text-align:center;
      font-weight:bold;
}

h1{
      font-size:2em;
}

h2{
      font-size:1.5em;
}

p{
      line-height:1.5m;
      font-size: 1.2em;
}

table{
      border-collapse: collapse;
      width:80%;
      font-size:1.2em;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:2%;
}

td,th{
      border:5px dashed blue;
      padding: 1.5%;
}

tr:nth -child (even) {
      background-color:#b2d9f7
}

.linha{
      display:flex;
      flex-flow: row wrap;
      margin-left: auto;
      margin-right: auto;
}

.col-3{
      width: 25%;
}

.imggaleria{
      width:90%;
      margin-left: 1%;
      margin-right: 1%;
}