body{
      background-color: #A9A9A9;
 }

header{
      background-color: blue;
      padding:3%;
}

.logo{
      background-color: darkgoldenrod;
}

nav{
      background-color: aqua;
}

main{
      background-color: forestgreen;
      width: 80%;
      margin-left: auto ;
      margin-right: auto;
}

section{
      background-color: palevioletred;
}

footer{
      background-color: #8A2BE2;
      padding: 3%;
}

.cabecalho{
      padding: 3%;
}

.rodape{
      padding: 3%;
}