body{
      background-color: #A9A9A9
 }

header{
      background-color: blue;
}

.logo{
      background-color: darkgoldenrod;
}

nav{
      background-color: aqua;
}

main{
      background-color: forestgreen;
}

section{
      background-color: palevioletred;
}

footer{
      background-color: #8A2BE2;
}
